{% extends "page_template.html" %}
{% load static %}

{% block browserTitle %} {{ block.super}} Events timeline {% endblock %}

{% block pageTitle %} Events timeline {% endblock %}

{% block extraFiles %} 
	
	<link href="{% static 'c3.min.css' %}" rel="stylesheet">
	<script src="{% static 'd3.v5.min.js' %}"></script>
	<script src="{% static 'c3.min.js' %}"></script>
	
	<style>.c3-legend-item-hidden{opacity: .3}</style>
	
{% endblock %}


{% block content %}

	<div class="main-content {{ templateHelpers.classes.grid }} mt4">
		
		{% if chart_data.y_tick_values %}<div id="chart" class="mb3" style=""></div>
		{% else %}
			<p>You haven't created any events logs yet</p>
		{% endif %}
		
	</div>
	
	
	<script>
		
		(function () {
			var xsObj = {{ chart_data.x|safe }},
				columnsArr = {{ chart_data.columns|safe }};
				eventNames = [];
			
			for (k in xsObj) {
				eventNames.push(k);
			}
			
			var chart = c3.generate({
				zoom: {enabled:true},
				size: {
					height: {{ chart_data.y_tick_values|safe }}.length * 50,
				},
				padding: {
					right: 20,
				},
				point: {
					r: 5,
				},
				data: {
					xs: [],
					columns: [],
				},
				axis: {
					x: {
						type: 'timeseries',
						tick: {
							outer: false,
							format: '%b %d, %Y',
							rotate: 60
						}
					},
					y: {
						show: false,
						tick: {
							outer: false,
							values: {{ chart_data.y_tick_values|safe }},
							format: d3.format("d")
						}
					}
				},
				legend: {
					show: false
				},
				tooltip: {
					format: {
						value: function () {
							return '';
						}
					}
				}
			});
			
			chart.load({
				columns: columnsArr,
				xs: xsObj,
			});
			
			
			function toggleVisibilityClass (el) {
				var className = 'c3-legend-item-hidden';
				
				if (el.classList.contains(className)) {
					el.classList.remove(className);
				}
				else {
					el.classList.add(className);
				}
			}
			
			
			function dimElements (els, b) {
				els.forEach(function(el) {
					b ? el.style.opacity = .3 : el.removeAttribute('style') ;
				});
			}
			
			
			function getSiblings (elem) {
				var siblings = [],
					sibling = elem.parentNode.firstChild;
			
				while (sibling) {
					if (sibling.nodeType === 1 && sibling !== elem) {
						siblings.push(sibling);
					}
					sibling = sibling.nextSibling
				}			
				return siblings;
			};
			
			
			d3.select('.main-content').insert('div').attr('class', 'legend').selectAll('span')
				.data(eventNames)
				.enter().append('span')
				.attr('class', 'f6 pointer flex items-center')
				.attr('data-id', function (id) { return id; })
				.html('<span class="w1 h1"></span>')
				.append('span').attr('class', 'pa2')
				.html(function (id) { return id; })
				.each(function (id) {
					this.previousElementSibling.style.backgroundColor = chart.color(id);
				})
				.on('mouseover', function (id) {
					var siblings = getSiblings(this.parentElement);
					if (!this.parentElement.classList.contains('c3-legend-item-hidden')) {
						dimElements(siblings, true);
					}
					chart.focus(id);
				})
				.on('mouseout', function (id) {
					var siblings = getSiblings(this.parentElement);
					dimElements(siblings, false);
					chart.revert();
				})
				.on('click', function (id) {
					var siblings = getSiblings(this.parentElement);
					toggleVisibilityClass(this.parentElement);
					if (!this.parentElement.classList.contains('c3-legend-item-hidden')) {
						dimElements(siblings, true);
					}
					else { dimElements(siblings, false) }
					chart.toggle(id);
				});
			
		})();
	</script>
	

{% endblock %}