{% extends "page_template.html" %}
{% load static %}

{% block browserTitle %} {{ block.super}} Trackfolio {% endblock %}

{% block pageTitle %} Trackfolio {% endblock %}

{% block extraFiles %} 
	
	<link href="{% static 'c3.min.css' %}" rel="stylesheet">
	
	<style>
		.legend {
			column-count: 3;
			column-gap: 40px;
		}
		
		.c3_legend_item_hidden{opacity: .3}
	</style>
	
	<script src="{% static 'd3.v5.min.js' %}"></script>
	<script src="{% static 'c3.min.js' %}"></script>
	
{% endblock %}


{% block content %}

	<div class="main-content {{ templateHelpers.classes.grid }} mt4">
		<div class="flex-ns justify-between">
			{% if upcoming_events %}
				<div class="mb4 lh-copy mr4-ns">
					<div class="mb2"><span class="b">Upcoming events</span> <span class="gray">(based on history)</span></div>
					{% for event in upcoming_events %}
						<div>{{ event.next_event_date }} - {{ event.name }}</div>
					{% endfor %}
				</div>
			{% endif %}
			<form method="post" id="event-log-form" action="{% url 'events:add_event_log' %}">
				{% csrf_token %}
				<div class="mr3-ns mb3">Log an event that happened</div>
				<div class="flex-ns items-center">
					<div class="mr2-ns mb3"><select class="w-100 mw5" data-width="element" aria-label="Select an event" name="event" data-tags="true" data-minimum-results-for-search="1" data-placeholder="Select or create new">
						<option value=""></option>
						{% for event in events_with_intervals %}
							<option value="{{ event.id }}">{{ event.name }}</option>
						{% endfor %}
					</select></div>
					<div class="mr2-ns mb3"><input aria-label="Select a date" style="width:140px;" type="date" name="date"></div>
					<div class="mr2-ns mb3"><button class="{{ templateHelpers.classes.bluePriButton }} {{ templateHelpers.classes.button }}">Add</button></div>
				</div>
			</form>
		</div>
		
		{% if chart_data.y_tick_values %}
			<div id="chart" class="mv3" style=""></div>
			<div id="chart-legend" class="legend mb4"></div>
		{% else %}
			<p>You haven't created any events logs yet</p>
		{% endif %}
		
	</div>
	
	
	<script>
		
		(function ($) {
			var eventsIntervals = {
				{% for event in events_with_intervals %}
					'{{ event.name }}': {{ event.average_interval_days }},
				{% endfor %}
				};
			
			
			function setupFormSubmit () {
				document.querySelector('#event-log-form').addEventListener('submit', function (evt) {
					evt.preventDefault();
					$.post({
						url: this.action,
						data: $(this).serialize(),
						success: function () {
							window.location.reload();
						},
						error: function (request) {
							alert(request.responseJSON.results);
						}
					});
				});
			}
			setupFormSubmit();
			
			
			var xsObj = {{ chart_data.x|safe }},
				columnsArr = {{ chart_data.columns|safe }};
				eventNames = [];
			
			for (k in xsObj) {
				eventNames.push(k);
			}
			
			var chart = c3.generate({
				size: {
					height: {{ chart_data.y_tick_values|safe }}.length * 50,
				},
				padding: {
					right: 20,
				},
				point: {
					r: 5,
				},
				data: {
					xs: [],
					columns: [],
				},
				axis: {
					x: {
						type: 'timeseries',
						tick: {
							outer: false,
							format: '%m-%d-%Y',
							rotate: 60
						}
					},
					y: {
						show: false,
						tick: {
							outer: false,
							values: {{ chart_data.y_tick_values|safe }},
							format: d3.format("d")
						}
					}
				},
				legend: {
					show: false
				},
				tooltip: {
					format: {
						value: function (value, ratio, id, index) {
							if (eventsIntervals[id] > 0) {
								return eventsIntervals[id] + ' days avg';
							}
							else {
								return '';
							}
						}
					}
				}
			});
			
			chart.load({
				columns: columnsArr,
				xs: xsObj,
			});
			
			
			function toggleVisibilityClass (el) {
				var className = 'c3_legend_item_hidden';
					
				if (el.classList.contains(className)) {
					el.classList.remove(className);
				}
				else {
					el.classList.add(className);
				}
			}
			
			
			function dimElements (els, b) {
				els.forEach(function(el) {
					b ? el.style.opacity = .3 : el.removeAttribute('style') ;
				});
			}
			
			
			function getSiblings (elem) {
				var siblings = [],
					sibling = elem.parentNode.firstChild;
			
				while (sibling) {
					if (sibling.nodeType === 1 && sibling !== elem) {
						siblings.push(sibling);
					}
					sibling = sibling.nextSibling
				}			
				return siblings;
			};
			
			// Create custom legend.
			d3.select('#chart-legend').selectAll('span')
				.data(eventNames)
				.enter().append('span')
				.attr('class', 'f6 pointer flex items-center')
				.attr('data-id', function (id) { return id; })
				.html('<span class="w1 h1"></span>')
				.append('span').attr('class', 'pa2')
				.html(function (id) { 
					var showInterval = '';
					if (eventsIntervals[id] > 0) {
						showInterval = '<span class="ml2 f7 dark-gray">(' + eventsIntervals[id] + ' days avg)</span>';
					}
					return id + showInterval; 
				})
				.each(function (id) {
					this.previousElementSibling.style.backgroundColor = chart.color(id);
				})
				.on('mouseover', function (id) {
					var siblings = getSiblings(this.parentElement);
					if (!this.parentElement.classList.contains('c3-legend-item-hidden')) {
						dimElements(siblings, true);
					}
					chart.focus(id);
				})
				.on('mouseout', function (id) {
					var siblings = getSiblings(this.parentElement);
					dimElements(siblings, false);
					chart.revert();
				})
				.on('click', function (id) {
					var siblings = getSiblings(this.parentElement);
					toggleVisibilityClass(this.parentElement);
					if (!this.parentElement.classList.contains('c3-legend-item-hidden')) {
						dimElements(siblings, true);
					}
					else { dimElements(siblings, false) }
					chart.toggle(id);
				});
			
		})(jQuery);
	</script>
	

{% endblock %}