{% load static %}
{% load common_templatetags %}
{% getTemplateHelpers as templateHelpers %}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<link href="{% static 'favicon.ico' %}" rel="icon"/>
		<meta name="owner" content="REPLACE Me">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="index,nofollow">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="geo.country" content="zz">
		<meta name="dcterms.date" content="2023-06-21">

		<title>{% block browserTitle %}Trackfolio - {% endblock %}</title>

		<link href="{% static 'tachyons.min.css' %}" rel="stylesheet">
		<link href="{% static 'select2.min.css' %}" rel="stylesheet">
		<link href="{% static 'bloodline.min.css' %}" rel="stylesheet">
		<link href="{% static 'site-common.css' %}" rel="stylesheet">
		
		<script src="{% static 'jquery.min.js' %}"></script>
		<script src="{% static 'select2.min.js' %}"></script>
		<script src="{% static 'bloodline.min.js' %}"></script>
			
		{% block extraFiles %} {% endblock %}
		
	</head>

	<body class="helvetica bg-white">
		<main role="main" aria-label="Trackfolio page content">
			{% block leadspace %}
				<div class="{{ templateHelpers.classes.grid }} pv4 bg-black near-white">
					<div class="flex-ns items-center justify-between">
						<h1 class="lh-title f3 fw6 mv0 pv0 mw7">{% block pageTitle %}Missing page title{% endblock %}</h1>
						<div class="mt0-ns mt3"><a href="{% url 'admin:app_list' app_label='events' %}" class="{{ templateHelpers.classes.link }}"><span class="light-blue hover-white">Edit / Delete event</span></a></div>
					</div>
				</div>
			{% endblock %}
			
			<div style="min-height:calc(100vh - 255px);">
				{% block content %} {% endblock %}
			</div>

		</main>
		
		<footer>
			<div class="ph3 {% block footerClasses %}bg-white{% endblock %} flex flex-wrap items-center">
				
			</div>
		</footer>
	</body>
</html>
